body {
  padding: 20px;
  background: black;
  background: url(http://awesomwallpaper.com/img2/5217B1BFA333F599/black-space-stars.jpg);
  background-attachment: fixed;
  background-position: cover;
}
button {
  margin-top: 20px;
  line-height: 44px;
  font-weight: bold;
  padding: 0 28px;
  background: white;
  border: none;
  color: black;
  margin: 5px;
  text-transform: uppercase;
  
}
button:hover {
  opacity: .9;
}

#mylog {

  width: 50%;
  border: 1px solid white;
  height: auto;
}

 div {
   padding: 5px;

}

p   {
  font-weight: bold;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
